* {
  text-decoration: none;
}

.navbar {
  background-color: #fff;
  padding: 1rem;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
}

.navbar-brand {
  color: black;
  font-weight: bold;
}

.navbar-links {
  display: flex;
  gap: 1rem;
}

.navbar-links a {
  color: black;
}

.navbar-links a:hover {
  color: purple;
}

.navbar-auth {
  align-items: center;
}

.navbar-auth a {
  color: black;
}

.navbar-auth button:hover {
  background-color: navy;
}

.navbar-auth-links {
  display: flex;
  gap: 1rem;
}

.page {
  display: flex;
  flex-direction: column;
}

.home-hero {
  text-align: center;
  margin-top: 3rem;
}

.home-hero p {
  margin-top: 1.5rem;
}

.page-title {
  margin: 3rem 2rem;
}

.products-grid {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.product-card {
  margin-bottom: 3rem;
}

.product-card-image {
  height: 200px;
}
